@import '../components/card/card'
@import '../components/new-card/new-card'

.dashboard
    display: flex
    flex-flow: row wrap
    align-items: flex-start

    margin-right: 10%
    margin-left: 10% 

