div.label.new-label.toggle
  h2.new-label__head Create a new board... 

div.form__container.unavailable
  h3.form__head Creating a board
  hr.form__hr
  from.form
    p.form_label What shall we call the board?
    input(autofocus).form__input
    div.form__button-group
      button.form__button_cancel.toggle Cancel
      button(type='button').form__button_create.toggle Create